//*** New Entry Modal ***/

.blog__newEntry{
    color: black!important;
    width: 90%;
}


.blog__buttons{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    .blog__button{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//Modal
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 1000px;
    width: 1000px;
    outline: none;
    padding: 10px;
    margin: 0 auto;
}


//*** Blog Entries ***//
.blog__content{
    width: 100%;
    height: 100%!important;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.blog__text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}




.blog__container__entries{
    width: 90%;
    height: 95%;
    background-color:lighten($color: $dark-grey, $amount: 20);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .blog__options__entries{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        background-color:lighten($color: $dark-grey, $amount: 15);
        margin-bottom: 20px;
        h5{
            width: 65%;
            margin-left: 50px;
        }
    
        button{
            width: 30%;
        }
    }

    .blog__entries{
        display:flex;
        align-items: center;
        flex-direction: column;

        .blog__content_entries{
            display:flex;
            align-items: center;
            flex-direction: column;
        }

        .blog__content__paginate{
            margin-top:20px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }        
    }
}


.blog__content__entry{
    width: 60%;
    height: 65px;
    background-color:lighten($color: $dark-grey, $amount: 30);
    margin-top: 10px;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
    .blog__content__color{
        width: 5%;
        height: 100%;
        overflow: hidden;
        background-color:lighten($color: $dark-grey, $amount: 15);
        color: lighten($color: $primary, $amount: 40);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blog__content__entry-data{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        .blog__content__entry-data-txt{
            width: 95%;
            height: 100%;
            display: flex;
            align-items:flex-start;
            justify-content: center;
            flex-direction: column;
            h3,h2{
                color: white;
                font-weight: 200;
                font-size:14px;
            }
            h2{
                font-size:16px;
                font-weight: bold;
            }
        }
    }

    .blog__content__date{
        width: 15%;
        height: 100%;
        overflow: hidden;
        background-color:lighten($color: $dark-grey, $amount: 15);
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        h3,h2{
            color: white;
            font-weight: 200;
            font-size:12px;
        }
        h2{
            font-size:15px;
            font-weight: bold;
        }
    }

}


@media only screen and (max-width: 1100px) {

    .blog__content__entry{
        width: 90%;
        
        .blog__content__color{
            width: 10% !important;
        }

        .blog__content__entry-data{
            width: 75%!important;
        }

        .blog__content__date{
            width: 15%;
            h3,h2{
                font-size:11px;
            }
            h2{
                font-size:14px;
            }
        }

    }
}

@media only screen and (max-width: 800px) {

    .blog__button{
        width: 25% !important;
    }
    
    .blog__container__entries{
        width: 95%;
    }
}