.btn{
    background-color:transparent;
    border: none;
    color: #fff;
    cursor:pointer;
    font-size:15px;
    padding: 10px 10px 10px 10px;

    transition: all 0.3s ease;
    &:focus{
        outline: none;
    }

    &:hover{
        color: darken($color: white, $amount: 10);
    }
}
.btn-danger{
    background-color:rgba(0, 0, 0, 0.705);
    width: 17%;
    margin: 0 auto;
    color: white;
    transition: all 0.3s linear;
    &:hover{
        color: rgba(0, 0, 0, 0.705);
        background-color: rgb(255, 173, 173);
    }
}

.btn-close{
    background-color:rgba(194, 78, 78, 0.705);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    color: white;
    transition: all 0.3s linear;
    &:hover{
        color: white;
        background-color: rgb(150, 10, 10);
    }
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    &:disabled{
        background-color: lighten($color: $primary, $amount: 15)
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block{
    width:100%;
}

.btn-register{
    display:block;
    color: white;
    background-color: lighten($color: $dark-grey, $amount: 5);
    text-decoration: none !important;
    text-align: center !important;
    font-size:15px;
    padding: 5px 10px 5px 10px;
    transition: all 0.3s ease;
    &:focus{
        outline: none;
    }

    &:hover{
        color: darken($color: white, $amount: 10);
        background-color: lighten($color: $dark-grey, $amount: 10);
    }
}

.button_more{
    display:none;
}

.btn-right{
    float:right;
}

.btn-public-dark{
    background-color:darken($color: $light-grey, $amount: 60) !important;
}

.btn-public-dark:before {
    background: transparentize($color: $white, $amount: 0.9) !important;
  }

.btn-public {
    line-height: 1.5;
    background-color:transparentize($color: $primary, $amount: 0.5);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: $white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: 900;
    &:hover{
        color: lighten($color: $primary, $amount: 30);
    }
  }
  .btn-public:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: transparentize($color: $white, $amount: 0.9);
    transition: width 0.5s ease;
  }
  .btn-public:hover:before {
  width: 100%;
  }
  
  .btn-upload{
      background-color: rgb(50, 97, 50);
      width: 150px;
      border-radius: 20px;
  }


  .modal-btn-close{
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      &:hover{
          color: darken($color: $white, $amount: 10)
      }
  }

@media only screen and (max-width: 600px) {


    .button_more{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: lighten($color: $primary, $amount: 10);
        position: absolute;
        right: 35px;
        bottom: 35px;
        transition: all 0.3s ease-in-out;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0%);
        &:hover {
            background-color:$primary;
            transform: translateY(10%);
        }
    }
    

}