.entry-blog__content{
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.entry-blog__text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.entry-blog__newEntry{
    color: black!important;
    width: 90%;
}

.entry-blog__submit{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    button{
        margin-right:10px;
        margin-top:5px;
        margin-bottom:5px;
    }
}
