.link{
    color: $dark-grey;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.link-d{
    display: flex;
    justify-content: flex-end;
    right: 0px;
    font-size:15px;
}

.link-options{
    text-decoration: none !important;
    color: #fff !important;
}