.users__content{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.users__content__text{
    width: 100%;
    height: 10%;
}

.users__content__users{
    width: 100%;
    height: 90%;
    background-color:lighten($color: $dark-grey, $amount: 20);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.users_content_UserScreen{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.users__content__paginate{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.users__content__user{
    width: 80%;
    height: 60px;
    background-color:lighten($color: $dark-grey, $amount: 30);
    margin-top: 20px;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.users__content__userphoto{
    width: 20%;
    height: 100%;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.users__content__username{
    width: 80%;
    height: 100%;
    display: flex;
    align-items:center;
    h3{
        margin-left: 10px;
        color: white;
        font-weight: 200;
        font-size:15px;
    }
}



@media only screen and (max-width: 800px) {
    .users__content{
        width: 80%;
    }
}


@media only screen and (max-width: 600px) {
    .users__content{
        width: 90%;
    }
}