.contblock{
    width: 100%;
}

.principal__title{
    color: white;
    width: 100%;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center
}

.principal__title_secundary{
    color: white;
    font-size: 15px;
    width: 100%;

}

.principal__main-content{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.principal__index{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    p{
        text-align: center;
    }
}

.principal__dashboard{
    width: 75%;
}

.principal__content{
    background-color: rgba(0, 0, 0, 0.61);
    color:rgb(203, 247, 255);
    height: 100vh;
    width: 100%;
}

.principal__contenttwo{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.principal__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    transition: transform .3s ease-in-out;
    transform: translate(0%);
}

.principal__userprofile{
    background-color: $primary;
    height:100px;
    width: 100%;
    display: flex;
}

.principal__userphoto{
    height:100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal__userimg{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.principal__userphoto2{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal__userimg2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.principal__userimg2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.principal__userimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.principal__userdesc{
    height:100%;
    width: 70%;
    h3,h4{
        font-weight: 600;
        margin-left: 7px !important;
        color: $light-blue;
        width: 100%;
    }

    >h4{
        font-weight: 300;
        font-size: 15px;
        padding: 0 !important;
    }

    .principal__buttonlogout{
        width:100%;
        height: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logout{
        font-weight:500;
    }
}





.principal__options {

    margin: 10px;
    overflow: auto;
 
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: #ccc;
    }
 
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
 
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
 
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 20px;
    }
}

.principal_option{
    width:100%;
    height: 60px;
    background-color: darken($color: $light-grey, $amount: 60);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: row;
    &:hover{
        background-color: darken($color: $light-grey, $amount: 55);
    }
}

.principal_option_icon{
    height:100%;
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center; 
    font-size: 30px;
}

.principal_option_text{
    height:100%;
    width: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: center;    
}


@keyframes zoomInOut {
    0%,100%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
}



@media only screen and (max-width: 600px) {

    .principal__sidebar {
        position:fixed;
        width: 300px;
        transform: translate(-100%);
        transition: transform .3s ease-in-out;
    }
    .sidebar_active{
        transform: translate(0);
    }

    .principal__dashboard{
        width: 100%;
    }

    .principal__contenttwo{
        width:80%;

    }

}