.public__about{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparentize($color: $dark-grey, $amount: 0.9), transparentize($color: $primary, $amount: 0.5)), url(../../../assets/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
}

.public__about-container {
    width: 90%;
    height: 100%;
    border-radius:50px;
    background-color: transparentize($color: $primary, $amount: 0.9) !important;
    overflow: hidden;
}

.public__about-title{
    height: 70px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: $white;
    }
}

.public__about-content{
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.public__about-image{
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 100%;
        object-fit: cover;
        max-height: 700px;
    }
}

.public__about-text{
    width: 70%;
    height: 100%;
    text-align : justify;
    color: $white;
    p{
        font-family: 'Poppins', sans-serif !important;
        font-size: 18px;
        font-weight: 300;
    }
}

.public__about-tabs{
    margin-top: 20px;
}

.public__about-tabs .tab-item{
    padding: 2px 0;
    background-color:transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.9;
    transition: all 0.3s ease;
    color:white;
}

.public__about-tabs .tab-item:last-child{
    margin: 0;
}

.public__about-tabs .tab-item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: $primary;
    transition: width 0.3s ease;
}

.public__about-tabs .tab-item:hover::before{
    width: 100%;

}

.public__about-tabs.tab-item.active::before{
    width: 100%;
    background-color: $primary;

}

.public__about-tabs .tab-item.active{
    color: lighten($color: $primary, $amount: 10);
    opacity: 1;
    cursor: auto;
}


/*Time Line*/


.public__about-text .timeline{
    position: relative;
}

.public__about-text .timeline::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: $white;

}


.public__about-text .tab-content{
    padding: 40px 0;
    display:none;   
}

.public__about-text .tab-content.active{
    display:block;   
}


.public__about-text .timeline-item{
    margin-bottom:  30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.public__about-text .timeline-item::before{
    content: " ";
    position: absolute;
    height:11px;
    width:11px;
    background-color: $white;
    left: 0;
    top: 16px;
    border-radius: 50%;
}



.public__about-text .timeline-item:last-child{
    margin-bottom:  0px;
}

.public__about-text .timeline-item .date{
    display: block;
    color: $white;
    font-weight: 400;
    margin: 0 0 10px;

}

.public__about-text .timeline-item h4{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.public__about-text .timeline-item h4 span{
    font-weight: 400;

}

.public__about-text .btn{
    margin: 0 15px 15px 0;
}

.timeline-item .btn{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 0;
}