.public__contact{
    background-color: lighten($color: $primary, $amount: 0);
    width: 100%;
}

.public__contact-cont{
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content:space-around;
}

.color-white{
    color: $white;
    font-weight: 500;
}

.public__contact-content{
    width: 60%;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.9s all;
    background-color: lighten($color: $primary, $amount: 5);
    padding: 25px 30px 60px 30px;
}

.public__contact-title{
    text-align: center;
    font-family: 'open sans';
    font-size: 35px;
    font-weight: 300;
}

.public__contact-err{
    height:30px;
    margin-bottom: 10px;
}

.public__contact-input{
    color: $dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom:10px;
    height: 30px;
    width: 100%;
    transition: border-bottom .3s ease;
    border-radius: 3px;

    &:focus{
        border-bottom: 10px solid $white;
        outline:none;
    }
}

.public__contact-textarea{
    transition: all 0.5s;
    min-height: 100px !important;
    resize:none;
    overflow: hidden;
}

.public__contact-btn{
    background-color:darken($color: $primary, $amount: 20);
    color: $white;
    font-size: 17px;
    font-weight: bold;

    &:hover{
        background-color:darken($color: $primary, $amount: 10);
    }
}

@media screen and (max-width:800px){

    .public__contact-content{
        width: 80%;
    }
}

@media screen and (max-width:600px){

    .public__contact-content{
        width: 100%;
    }
}