header{
    background-color: transparentize($color: $dark-grey, $amount: 0.9);
    padding-top: 80px;
    width: 100%;
    height: 650px;
    background: linear-gradient(to right, transparentize($color: $dark-grey, $amount: 0.9), transparentize($color: $primary, $amount: 0.5)), url(../../../assets/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



.public__contenido-header {
    width:100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.public__header-text,
.public__header-img{
    width:50%;
    color: $white;
}

.public__header-text{
    p{
        font-size:18px;
    }

    h1{
        font-size:50px;
        text-transform: capitalize;
    }

    h2{
        font-size:20px;
        text-transform: capitalize;
        font-weight: 300;
        margin: 0 0 30px;
    }
}


.public__header-img .img-box{
    width: 340px;
    height: 340px;
    background-color: transparentize($color: $dark-grey, $amount: 0.7);
    border-radius:50%;
    border: 8px solid lighten($color: $primary, $amount: 20);
    margin: auto;
}

.public__header-img .img-box img{
    width:100%;
    border-radius: 50%;
}




@keyframes animat{
    0% {
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}


/*Responsive*/
@media screen and (max-width:800px){

    .public__contenido-header{
        margin-top: 0px;
        flex-direction: column-reverse;
        height:720px;
        justify-content: center;
        align-items: center;
    }
    
    .public__header-text,
    .public__header-img{
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .public__header-img .img-box{
        width: 250px;
        height: 250px;
    }
    
}

@media screen and (max-width:600px){


    .public__contenido-header{
        height: 650px;
    }

    .public__header-img .img-box{
        width: 200px;
        height: 200px;
    }

}