.public__container{
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.public__title{
    font-size:50px;
    font-weight:300;
}

.public__container__p-60{
    padding: 60px 0;
}