.public__entry-blog-container{
    margin: 0 auto;
    width: 100% !important;
    min-height: 300px;
    overflow:hidden;
    display: flex;
    justify-content:center;
}
.public__entry-blog-content{
    width: 90%;
    background-color:$white;
}
.public__entry-blog-head{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    .public__entry-blog-cont-desc{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        .public__entry-blog-head-cont-date{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content:center;
            align-items:center;
            .public__entry-blog-head-cont-date-ci{
                width: 80%;
                height: 80%;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                .public__entry-blog-head-cont-date-month{
                    width: 100%;
                    height: 30%;
                    background-color: $primary;
                    color: $white;
                    text-align: center;
                }
                .public__entry-blog-head-cont-date-day{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 30px;
                    font-weight:600;
                    background-color: lighten($color: $primary, $amount: 40);

                }
                .public__entry-blog-head-cont-date-year{
                    width: 100%;
                    height: 20%;
                    background-color: $primary;
                    color: $white;
                    text-align: center;

                }
            }
        }
        .public__entry-blog-head-cont-info{
            width: 90%;
            height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .public__entry-blog-head-cont-info-title{
                width: 95%;
                height: 100%;
                font-size:30px;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .public__entry-blog-head-cont-info-title-details{
                    font-size:  20px;
                    color: $dark-grey;
                    font-style: oblique;
                }
            }
        }
    }
    .public__entry-blog-cont-image{
        width: 100%;
        height: 70%;
        border-radius:10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.public__blog-entries-load{
    >img{
        width: 40%;
    }
}

.animate__animated.animate__bounceIn{
    --animate-duration: 25s;
}

@media screen and (max-width:800px){
    .public__entry-blog-head{
        height: 450px;
        .public__entry-blog-cont-desc{
            .public__entry-blog-head-cont-date{
                width: 10%;
                .public__entry-blog-head-cont-date-ci{
                    width: 100%;
                    height: 75%;
                    .public__entry-blog-head-cont-date-month{
                        height: 25%;
                    }
                    .public__entry-blog-head-cont-date-year{
                        height: 25%;
                    }
                }
            }
            .public__entry-blog-head-cont-info{
                .public__entry-blog-head-cont-info-title{
                    font-size:25px;
                    font-weight: 500;
                    .public__entry-blog-head-cont-info-title-details{
                        font-size:  17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px){

    .public__entry-blog-container{
        min-height: 220px;
        .public__entry-blog-content{
            width: 95%;
            background-color:$white;
        }
    }


    .public__entry-blog-head{
        height: 400px;
        .public__entry-blog-cont-desc{
            height: 35%;
            .public__entry-blog-head-cont-date{
                width: 15%;
                .public__entry-blog-head-cont-date-ci{
                    width: 100%;
                    height: 50%;
                    .public__entry-blog-head-cont-date-month{
                        height: 30%;
                        font-size: 12px;
                    }
                    .public__entry-blog-head-cont-date-day{
                        height: 50%;
                        font-size: 25px;    
                    }
                    .public__entry-blog-head-cont-date-year{
                        width: 100%;
                        height: 20%;
                        font-size: 12px;
                    }
                }
            }
            .public__entry-blog-head-cont-info{
                .public__entry-blog-head-cont-info-title{
                    font-size:20px;
                    .public__entry-blog-head-cont-info-title-details{
                        font-size:  15px;
                    }
                }
            }
        }
        .public__entry-blog-cont-image{
            width: 100%;
            height: 65%;
            border-radius:10px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}