.public__blog-entries{
    width: 100%;
    min-height: 700px;
    background-color: lighten($color: $dark-grey, $amount: 20);
    display: flex;
    justify-content: center;

}

.public__blog-entries-cont{
    display: flex;
    //background-color: lighten($color: $dark-grey, $amount: 10);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.public__blog-entrie-cont{
    width: 70%;
    height:350px;
    border-radius: 10px;
    background-color: darken($color: $white, $amount: 50) !important;
    margin: 10px;
    overflow: hidden;
}

.public__blog-entrie-content{
    background-color:transparentize($color: $dark-grey, $amount: 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color:transparentize($color: $dark-grey, $amount: 0.6);
    }
}

.public__blog-entrie-desc{
    width: 90%;
    height: 40%;
    h1{
        font-weight: 300;
        color: $white;
        font-size: 30px;
    }
    p{
        color: $white;
    }
}

@media screen and (max-width:800px){

    .public__blog-entries-cont{
        display: flex;
        width: 100%;
    }
    .public__blog-entrie-cont{
        width: 80%;
    }
}

@media screen and (max-width:600px){

    .public__blog-entrie-cont{
        width: 95%;
        height: 250px;
    }

    .public__blog-entrie-desc{
        h1{
            font-size: 20px;
        }
        p{
            color: $white;
        }
    }
}