.public__blog-entries{
    width: 100%;
    //background-color: lighten($color: $dark-grey, $amount: 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.public__blog-entries-head{
    background-color: transparentize($color: $primary, $amount: 0.9);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    .public__blog-entries-head-cont{
        width: 80%;
        height: 100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .public__blog-entries-head-txt{
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            h1{
                font-size: 23px;
                font-weight: 100;
            }
        }
        .public__blog-entries-head-paginate{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
        }
    }

}

.public__blog-entries-cont{
    display: flex;
    //background-color: lighten($color: $dark-grey, $amount: 10);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 100px;
}

.public__blog-entries-load{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.public__blog-entrie-cont{
    width: 70%;
    height:350px;
    border-radius: 10px;
    background-color: darken($color: $white, $amount: 50) !important;
    margin: 10px;
    overflow: hidden;
    text-decoration: none !important;
}

.public__blog-entrie-content{
    background-color:transparentize($color: $dark-grey, $amount: 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color:transparentize($color: $dark-grey, $amount: 0.6);
    }
}

.public__blog-entrie-desc{
    width: 90%;
    height: 40%;
    h1{
        font-weight: 300;
        color: $white;
        font-size: 30px;        
    }
    p{
        color: $white;
    }
}

.public__blog-nav{
    background-color: transparentize($color: $primary, $amount: 0.9);
    width: 100%;
    height: 100%;
    .public__blog-nav-btn{
        width: 100%;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color:$light-grey;
        transition: all 0.3s;
        background-color:darken($color: $dark-grey, $amount: 0);
        &:hover {
            color:$white;
            background-color:darken($color: $dark-grey, $amount: 1);
        }
    }
    .public__blog-nav-links{
        transform: scaleY(0);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        .public__blog-nav-links-link{
            color: darken($color: $white, $amount: 15);
            font-size: 17px;
            font-weight: 300;
            text-decoration: none;
            margin-top: 5px;
            margin-bottom: 5px;
            &:hover {
                color: lighten($color: $primary, $amount: 20);
            }
        }
    }

}

.public__blog-nav-links-link-selected{
    color: lighten($color: $primary, $amount: 20) !important;
}
.show_blog-nav-links{
    background-color: darken($color: $primary, $amount: 50) !important;
    transform: scaleY(1) !important;
    position: relative !important;
}

@media screen and (max-width:800px){

    .public__blog-entries-cont{
        display: flex;
        width: 100%;
    }
    .public__blog-entrie-cont{
        width: 80%;
    }
}

@media screen and (max-width:600px){

    .public__blog-entrie-cont{
        width: 95%;
        height: 250px;
    }

    .public__blog-entrie-desc{
        h1{
            font-size: 20px;
        }
        p{
            color: $white;
        }
    }

    .public__blog-entries-head{
        .public__blog-entries-head-cont{
            width: 90%;
            .public__blog-entries-head-txt{
                h1{
                    font-size: 18px;
                }
            }
        }
    }
}